<!--
  This template loads for the 'tab.state-detail' state (app.js)
  'state' is a $scope variable created in the StatesCtrl controller (controllers.js)
  The StatesCtrl pulls data from the States service (service.js)
  The States service returns an array of state data
-->
<ion-view view-title="{{state.name}}">
  <ion-content class="padding">
    <p> Capital:
      {{state.capital}}
    </p>
    <p> Nick Name:
      {{state.nickName}}
    </p>
    <img ng-src="{{state.map}}" style="width: 268px; height: 268px">
  </ion-content>
</ion-view>
