<!--
  This template loads for the 'tab.state-detail' state (app.js)
  'state' is a $scope variable created in the StatesCtrl controller (controllers.js)
  The StatesCtrl pulls data from the States service (service.js)
  The States service returns an array of state data
-->
<ion-view view-title="{{state.name}}">
  <ion-content class="padding">
    <img ng-src="{{state.map}}" style="width: 100px; height: 100px">
    <p> Capital:
      {{state.capital}}
    </p>
    <p> Nick Name:
      {{state.nickName}}
    </p>

    <p> State Flower:
      {{state.stateFlower}}
    </p>

    <p> State Bird:
      {{state.stateBird}}
    </p>

    <p> Border States:
      {{state.borderState}}
    </p>

    <p> Highest Point:
      {{state.highestPoint}}
    </p>

    <p>
      <ion-toggle  ng-model="state.visited">
        Visited
      </ion-toggle>
    </p>
  </ion-content>
</ion-view>
