<!--
  This template loads for the 'tab.state-detail' state (app.js)
  'state' is a $scope variable created in the StatesCtrl controller (controllers.js)
  The StatesCtrl pulls data from the States service (service.js)
  The States service returns an array of state data
-->
<ion-view view-title="{{state.name}}">
  <ion-content class="padding">
    <img ng-src="{{state.map}}" style="width: 100px; height: 100px">

    <p>
      <button class="button icon-right ion-bowtie button-calm" name="paw" ng-click="utterCapital()">Capital</button>
      <div class="card" ng-show="showCapital">
        <div class="item item-text-wrap">
          {{state.capital}}
        </div>
      </div>
    </p>

    <p>
      <button class="button icon-right ion-bonfire button-energized" ng-click="utterNickName()">Nick Name</button>
      <div class="card" ng-show="showNickName">
        <div class="item item-text-wrap">
          {{state.nickName}}
        </div>
      </div>
    </p>

    <p>
      <button class="button icon-right ion-android-car button-royal" ng-click="utterBorderState()">Border States</button>
      <div class="card" ng-show="showBorderState">
        <div class="item item-text-wrap">
          {{state.borderState}}
        </div>
      </div>
    </p>


  </ion-content>
</ion-view>

