<ion-view view-title="States">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="state in states" type="item-text-wrap" href="#/tab/states/{{state.id}}">
        <img ng-src="{{state.map}}">
        <h2>{{state.name}}</h2>
        <p>{{state.capital}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
