<ion-view view-title="States Colored!">

  <ion-content class="has-footer">
    <ion-list>
      <ion-item ng-repeat="state in visitedStates" class="animated tada">
        <img ng-src="{{state.map}}">
        <h2>{{state.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-royal"> 
    <div class="title"> 
      <button class="button button-icon ion-ios-trash" ng-click="clearTrek()"></button> 
      <button class="button button-icon ion-information-circled" ng-click="openInfoPopover($event)"></button> 
     </div>
  </ion-footer-bar>
</ion-view>

