<ion-view view-title="Color the map of {{state.name}}!">

  <ion-content scroll="false">
    <canvas id="c"></canvas>
  </ion-content>

  <ion-footer-bar class="bar-stable">
    <div class="title">
      <button class="button button-clear" style="color: {{brushcolor}}" ng-click="addText()">Aa</button>
      <button class="button button-icon ion-paintbrush" ng-click="drawingMode()"></button>
      <button class="button button-icon ion-android-color-palette" style="color: {{brushcolor}}" ng-if="showColorPaletteIcon" ng-click="openColorsPopover($event)"></button>
      <button class="button button-icon ion-ios-undo" ng-click="undoLastObject()"></button>
      <button class="button button-icon ion-ios-arrow-forward" ng-show= 'showArrow' ng-click="closeColoring()"></button>
    </div>
  </ion-footer-bar>
</ion-view>


