<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to ColorMyStates by Maksood Mohiuddin</h2>
    <p>
      This is a cross platform mobile app targetting iOS and Android platform.
      The app is being build as a high-fidelity prototype for of an interactive educational mobile app for kids to learn geography.
    </p>

    <p>
      Your current Position Based on Geo Location
    </p>

    <p>
      Latitude:
    </p>

    <p>
      {{latitude}}
    </p>

    <p>
      Longitude:
    </p>

    <p>
      {{longitude}}
    </p>

  </ion-content>
</ion-view>
