<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to ColorMyStates by Maksood Mohiuddin</h2>
    <p>
      This is a cross platform mobile app targetting iOS and Android platform.
      The app is being build as a high-fidelity prototype for of an interactive educational mobile app for kids to learn geography.
    </p>


    <div ng-if="false">
      <button ion-button class="button-assertive" ng-click="GetGeoLocationState()">
        Test Geo Location
      </button>
      <p>
        Your current Position Based on Geo Location
      </p>

      <h2 ng-if="latitude">
        Latitude:
      </h2>

      <h2>
        {{latitude}}
      </h2>

      <h2 ng-if="longitude">
        Longitude:
      </h2>

      <h2>
        {{longitude}}
      </h2>

      <button ion-button class="button-assertive" ng-click="GetGeoLocationState()">
        Test Google Maps API
      </button>

    </div>

    <h2>
      Howdy Ranger! Looks like you are currently in :
    </h2>

    <h2>
      {{currentLocation}}
    </h2>

  </ion-content>
</ion-view>
