<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-positive">

  <!-- Color Tab -->
  <ion-tab title="Color" icon-off="ion-paintbrush" icon-on="ion-paintbrush" href="#/tab/color">
    <ion-nav-view name="tab-color"></ion-nav-view>
  </ion-tab>

  <!-- States Tab -->
  <ion-tab title="Learn" icon-off="ion-bug" icon-on="ion-bug" href="#/tab/states">
    <ion-nav-view name="tab-states"></ion-nav-view>
  </ion-tab>

  <!-- Trek Tab -->
  <ion-tab title="Trek" icon-off="ion-ios-paw" icon-on="ion-ios-paw" href="#/tab/trek">
    <ion-nav-view name="tab-trek"></ion-nav-view>
  </ion-tab>

</ion-tabs>
